* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

main.pricing-table-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

main article.pricing-table {
    height: 35vh;
    width: 350px;
    margin: 20px 10px;
    border: 3px solid #a6a6a6;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

article div.header {
    font-size: 36px;
    font-weight: 800;
    padding: 10px 0;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}

article ul.items {
    padding: 10px 0 0 40px;
    box-sizing: border-box;
    height: 150px;
}

ul li.item {
    text-transform: capitalize;
    font-size: large;
}

article div.pricing {
    display: flex;
    justify-content: start;
}

div a.plan-button {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin: 20px;
    background-color: #9cc23c;
    border: 2px solid #aecc62;
    color: white;
    display: flex;
    align-items: center;
    padding: 2px;
}

div div.price {
    margin: 20px 0;
    font-size: 26px;
    font-weight: 600;
}

article:nth-last-of-type(2) div.header {
    background-color: #0476bd;
}

main article:nth-last-of-type(2).pricing-table {
    border: 3px solid #9dc7e3;
}